/* styles.css */

/* Global styles for the website */
body {
    background-color: #121212; /* Dark background color */
    color: #ffffff; /* Text color */
}
  
  /* Apply dark theme to ProjectCard */
.card {
    background-color: #1d1d1d; /* Darker card background color */
    color: #ffffff; /* Card text color */

    /* Magenta highlights for various elements */
    .MuiCardHeader-subheader,
    .MuiTypography-body2,
    .MuiChip-root {
      color: #ff4081; /* Magenta color */
    }

    /* Styling for the icons */
    .MuiSvgIcon-root {
      fill: #ff4081; /* Magenta color */
    }
}
